extends ../../layout/index

block vars
    - var title='Оплата'

block payment-content
    - var CONSTANTS = require("../../constants/index.json");

    div.payment
        h1.payment__title Товар
        h2.payment__name “Путеводитель по Сеулу 2023” в электронном виде, файл pdf.

        form.payment__form.js-payment-form
            .payment__inputs
                input.input(placeholder="Ваше имя*", name="name", type="text")
                input.input(placeholder="E-mail*", name="email", type="email")
            label.payment__agreements
                input(type="checkbox", name="agreement").checkbox
                span Я соглашаюсь с <a target="_blank" href="#{CONSTANTS.pages.privacyPolicy}" class="link link_theme_color link_theme_underline">политикой конфиденциальности</a>&nbsp;
                    | и <a target="_blank" href="#{CONSTANTS.pages.agreements}" class="link link_theme_color link_theme_underline">обработкой персональных данных</a>

            .payment__price
                b К оплате:
                b.payment__price-value #{CONSTANTS.price} руб.

            .payment__error.js-payment-form-error Произошла ошибка. Напишите на почту <a href="mailto:#{CONSTANTS.email}" class="link link_theme_underline link_theme_inherit">#{CONSTANTS.email}</a> или попробуйте позднее

            button.button.payment__submit-button(type="submit", disabled)
                span Оплатить
                <svg width="38" height="38" viewBox="0 0 38 38" xmlns="http://www.w3.org/2000/svg">
                    <defs>
                        <linearGradient x1="8.042%" y1="0%" x2="65.682%" y2="23.865%" id="a">
                            <stop stop-color="#fff" stop-opacity="0" offset="0%"/>
                            <stop stop-color="#fff" stop-opacity=".631" offset="63.146%"/>
                            <stop stop-color="#fff" offset="100%"/>
                        </linearGradient>
                    </defs>
                    <g fill="none" fill-rule="evenodd">
                        <g transform="translate(1 1)">
                            <path d="M36 18c0-9.94-8.06-18-18-18" id="Oval-2" stroke="url(#a)" stroke-width="2">
                                <animateTransform attributeName="transform" type="rotate" from="0 18 18" to="360 18 18"dur="0.9s" repeatCount="indefinite"></animateTransform>
                            </path>
                            <circle fill="#fff" cx="36" cy="18" r="1">
                                <animateTransform attributeName="transform" type="rotate" from="0 18 18" to="360 18 18" dur="0.9s" repeatCount="indefinite"></animateTransform>
                            </circle>
                        </g>
                    </g>
                </svg>

        .payment__info После оплаты:
            ul.payment__list
                li дождитесь появления ссылки на скачивание файла;
                li также файл будет отправлен вам на email в течении 24 часов после оплаты.
