extends ../../layout/index

block vars
    - var title='Политика в отношении обработки персональных данных'

block content
    - var CONSTANTS = require("../../constants/index.json");

    section.text-page(aria-labelledby="privacy-policy-title")
        h1.text-page__title#privacy-policy-title Политика в отношении обработки персональных данных

        p.text-page__paragraph Настоящая Политика конфиденциальности персональных данных (далее – Политика конфиденциальности) действует в отношении всех персональных данных, которые Оператор обработки персональных данных может получить о Пользователе во время использования Сайта с доменным именем <a href="#{CONSTANTS.domain}" class="link link_theme_underline link_theme_color link_theme_inherit">#{CONSTANTS.domain}</a>. Оператор обработки персональных данных просит внимательно ознакомиться с Политикой конфиденциальности и в случае несогласия с какими-либо положениями прекратить использование Сайта и покинуть его.

        h2.text-page__subtitle 1. Основные понятия, используемые в Политике конфиденциальности:
        ol.text-page__list.text-page__list_number
            li 1.1. Конфиденциальность персональных данных – обязательное для соблюдения ООПД или иным получившим доступ к персональным данным лицом требование не допускать их распространения без согласия субъекта персональных данных или наличия иного законного основания.
            li 1.2. Обработка персональных данных – любое действие (операция) или совокупность действий (операций), совершаемых ООПД с использованием средств автоматизации или без использования таких средств с персональными данными, включая сбор, запись, систематизацию, накопление, хранение, уточнение (обновление, изменение), извлечение, использование, передачу (распространение, предоставление, доступ), обезличивание, блокирование, удаление, уничтожение персональных данных.
            li 1.3. Оператор обработки персональных данных (далее по тексту – ООПД) – владельцы сайта <a href="#{CONSTANTS.domain}" class="link link_theme_underline link_theme_color link_theme_inherit">#{CONSTANTS.domain}</a> которые самостоятельно или совместно с другими лицами организует и (или) осуществляют обработку Персональных данных, а также определяют цели обработки Персональных данных, состав Персональных данных, подлежащих обработке, действия (операции), совершаемые с Персональными данными.
            li 1.4. Персональные данные – любая информация, относящаяся к прямо или косвенно определенному или определяемому физическому лицу (субъекту персональных данных).
            li 1.5. Политика конфиденциальности – настоящий документ со всеми изменениями и дополнениями, расположенный в сети Интернет по адресу <a href="#{CONSTANTS.domain}#{CONSTANTS.pages.privacyPolicy}" class="link link_theme_underline link_theme_color link_theme_inherit">#{CONSTANTS.domain}#{CONSTANTS.pages.privacyPolicy}</a>
            li 1.6. Пользователь – субъект персональных данных, дееспособное физическое лицо, использующее Сайт в собственных интересах.
            li 1.7. Сайт – сайт, размещенный в сети интернет по адресу <a href="#{CONSTANTS.domain}" class="link link_theme_underline link_theme_color link_theme_inherit">#{CONSTANTS.domain}</a>, включая все его поддомены.
            li 1.8. Услуги – услуги, информация о которых размещена на Сайте и которые можно приобрести на Сайте.
            li 1.9. Файлы Cookies – небольшой фрагмент данных, отправленный веб-сервером и хранимый на устройстве Пользователя, используемом для доступа к Сайту, который веб-клиент или веб-браузер каждый раз пересылает веб-серверу в HTTPS-запросе при попытке открыть страницу соответствующего сайта.
            li 1.10. IP-адрес – уникальный сетевой адрес узла в компьютерной сети, построенной по протоколу IP.

        h2.text-page__subtitle 2. Общие положения
        ol.text-page__list.text-page__list_number
            li 2.1. Политика конфиденциальности определяет цели, содержание и порядок обработки Персональных данных, меры, направленные на защиту Персональных данных, а также процедуры, направленные на выявление и предотвращение нарушений законодательства Российской Федерации в области Персональных данных.
            li 2.2. Настоящая Политика конфиденциальности определяет политику ООПД как оператора, осуществляющего обработку Персональных данных, в отношении обработки и защиты Персональных данных. Обработка Персональных данных у ООПД осуществляется с соблюдением принципов и условий, предусмотренных настоящей Политикой конфиденциальности и законодательством Российской Федерации в области Персональных данных.
            li 2.3. Настоящая Политика конфиденциальности применяется только к информации, получаемой в ходе использования Сайта.
            li 2.4. ООПД не проверяет достоверность Персональных данных, предоставляемых Пользователем.
            li 2.5. Использование Пользователем Сайта означает согласие с настоящей Политикой конфиденциальности и условиями обработки Персональных данных Пользователя.
            li 2.6. Принимая данную Политику конфиденциальности, Пользователь тем самым дает свое согласие ООПД на обработку своих Персональных данных, указанных в п. 8.2. - 8.10. данной Политики конфиденциальности, в том числе сбор, запись, накопление, хранение, уточнение (обновление, изменение), извлечение, использование, передачу третьим лицам (распространение, предоставление, доступ), обезличивание, блокирование, удаление, уничтожение персональных данных в целях, указанных в п. 9.1.
            li 2.7. Если Пользователь не согласен с условиями Политики конфиденциальности, он обязан прекратить использование Сайта, не заключать с ООПД какой-либо договор или соглашение.
            li 2.8. Настоящая Политика конфиденциальности опубликована на странице <a href="#{CONSTANTS.domain}#{CONSTANTS.pages.privacyPolicy}" class="link link_theme_underline link_theme_color link_theme_inherit">#{CONSTANTS.domain}#{CONSTANTS.pages.privacyPolicy}</a>
            li 2.9. Базы данных информации, содержащей Персональные данные граждан Российской Федерации, находятся на территории Российской Федерации.
            li 2.10. ООПД обрабатывает Персональные данные на законной и справедливой основе для выполнения возложенных законодательством функций, полномочий и обязанностей, осуществления прав и законных интересов ООПД и иных лиц. Передача (распространение, предоставление) и использование Персональных данных Пользователей осуществляется лишь в случаях и в порядке, предусмотренных федеральными законами.
            li 2.11. ООПД получает Персональные данные непосредственно у Пользователей (субъектов Персональных данных).
            li 2.12. ООПД обрабатывает Персональные данные Пользователей с их согласия, предоставляемого либо в письменной форме (в необходимых случаях согласно действующему законодательству РФ), либо при совершении конклюдентных действий.

        h2.text-page__subtitle 3. Права ООПД
        ol.text-page__list.text-page__list_number
            li 3.1. ООПД имеет право собирать через формы на Сайте Персональные данные Пользователя
            li 3.2. ООПД имеет право предоставлять Пользователям доступ к Сайту, к информации об Услугах, предоставлять возможность их приобретения
            li 3.3. ООПД имеет право осуществлять сбор, запись, накопление, хранение, уточнение (обновление, изменение), извлечение, использование, передачу (распространение, предоставление, доступ), обезличивание, блокирование, удаление, уничтожение Персональных данных
            li 3.4. ООПД имеет право передавать Персональные данные Пользователей третьим лицам на основании договоров, заключаемых для достижения целей, указанных в п. 9.1.

        h2.text-page__subtitle 4. Обязанности ООПД
        ol.text-page__list.text-page__list_number
            li 4.1. ООПД обязан использовать полученные Персональные данные исключительно для целей, указанных в п. 9.1. настоящей Политики конфиденциальности. Не допускается обработка Персональных данных, несовместимая с целями сбора персональных данных.
            li 4.2. В случае утраты или разглашения конфиденциальной информации ООПД не несёт ответственность, если данная конфиденциальная информация:
                ul.text-page__list
                    li - стала публичным достоянием до её утраты или разглашения;
                    li - была получена от третьей стороны до момента её получения ООПД;
                    li - была разглашена с согласия Пользователя.
            li 4.3. ООПД обязан сообщить Пользователю или его представителю информацию об осуществляемой ООПД обработке Персональных данных такого Пользователя по его запросу.
            li 4.4. ООПД обязан обеспечивать надежную защиту Персональных данных Пользователей, защиту их конфиденциальности.

        h2.text-page__subtitle 5. Права Пользователя
        ol.text-page__list.text-page__list_number
            li 5.1. Пользователь вправе требовать от ООПД уточнения его Персональных данных, их блокирования или уничтожения в случае, если Персональные данные являются неполными, устаревшими, неточными, незаконно полученными или не являются необходимыми для заявленной цели обработки, путем направления обращения в свободной форме по адресу электронной почты <a href='mailto:#{CONSTANTS.email}' class="link link_theme_underline link_theme_color link_theme_inherit">#{CONSTANTS.email}</a>
            li 5.2. Пользователь вправе направить запрос ООПД относительно своих Персональных данных, которые обрабатываются ООПД, путем направления обращения в свободной форме к ООПД по электронной почте <a href='mailto:#{CONSTANTS.email}' class="link link_theme_underline link_theme_color link_theme_inherit">#{CONSTANTS.email}</a> . Срок получения ответа до 30 дней.
            li 5.3. Пользователь вправе направить ООПД отзыв данного им согласия на обработку Персональных данных.
            li 5.4. Пользователь имеет право на защиту своих прав и законных интересов, в том числе на возмещение убытков и компенсацию морального вреда в судебном порядке.
            li 5.5. Пользователь имеет право на обжалование действий или бездействия ООПД в уполномоченный орган по защите прав субъектов персональных данных или в судебном порядке.

        h2.text-page__subtitle 6. Обязанности Пользователя
        ol.text-page__list.text-page__list_number
            li 6.1. Пользователь обязан соответствовать требованиям, указанным в п. 1.6 данной Политики конфиденциальности.
            li 6.2. Пользователь при пользовании Сайтом обязан предоставить информацию о Персональных данных, требуемую ООПД.

        h2.text-page__subtitle 7. Принципы обработки Персональных данных, установленные настоящей Политикой конфиденциальности
        ol.text-page__list.text-page__list_number
            li 7.1. Обработка Персональных данных должна осуществляться на законной и справедливой основе.
            li 7.2. Обработка Персональных данных должна ограничиваться достижением конкретных, заранее определенных и законных целей. Не допускается обработка Персональных данных, несовместимая с целями сбора Персональных данных.
            li 7.3. Не допускается объединение баз данных, содержащих Персональные данные, обработка которых осуществляется в целях, несовместимых между собой.
            li 7.4. Обработке подлежат только Персональные данные, которые отвечают целям их обработки.
            li 7.5. Содержание и объем обрабатываемых Персональных данных должны соответствовать заявленным целям обработки. Обрабатываемые Персональные данные не должны быть избыточными по отношению к заявленным целям их обработки.
            li 7.6. При обработке Персональных данных должны быть обеспечены точность Персональных данных, их достаточность, а в необходимых случаях и актуальность по отношению к целям обработки Персональных данных. ООПД должен принимать необходимые меры либо обеспечивать их принятие по удалению или уточнению неполных или неточных данных.
            li 7.7. Хранение Персональных данных должно осуществляться в форме, позволяющей определить субъекта Персональных данных, не дольше, чем этого требуют цели обработки Персональных данных, если срок хранения Персональных данных не установлен федеральным законом, договором, стороной которого, выгодоприобретателем или поручителем по которому является субъект Персональных данных. Обрабатываемые персональные данные подлежат уничтожению либо обезличиванию по достижении целей обработки или в случае утраты необходимости в достижении этих целей, если иное не предусмотрено федеральным законом.

        h2.text-page__subtitle 8. Предмет политики конфиденциальности
        ol.text-page__list.text-page__list_number
            li 8.1. Настоящая Политика конфиденциальности устанавливает обязанности ООПД по обработке Персональных данных пользователей, их охране, в том числе обеспечению режима защиты конфиденциальности Персональных данных, которые Пользователь предоставляет ООПД в следующих случаях:
                ul.text-page__list
                    li - при заполнении формы Покупки товара (кнопка “Купить”) на Сайте
                    li - при направлении претензии, заявлений в адрес ООПД
                    li - в процессе письменной, электронной и устной коммуникации с ООПД.
            li 8.2. ООПД собирает два вида информации о Пользователе:
                ul.text-page__list
                    li - информацию, которую Пользователь сознательно предоставил ООПД в процессе использования Сайта;
                    li - техническую информацию, автоматически собираемую программным обеспечением Сайта во время его посещения Пользователем.
            li 8.3. Персональные данные предоставляются Пользователем при заполнении формы Покупки товара (кнопка “Купить”) на Сайте и включают в себя следующие сведения:
                ul.text-page__list
                    li - имя
                    li - адрес электронной почты
                    li - иные Персональные данные, которые Пользователь укажет при пользовании
            li 8.4. Персональные данные предоставляются Пользователем при направлении претензии, заявлений в адрес ООПД и включают в себя следующие сведения:
                ul.text-page__list
                    li - фамилия, имя, отчество
                    li - адрес электронной почты
                    li - телефон
                    li - иные Персональные данные, которые Пользователь указывает в тексте претензии или заявления по своему собственному желанию.
            li 8.5. Персональные данные предоставляются Пользователем в процессе письменной, электронной и устной коммуникации с ООПД и включают в себя следующие сведения:
                ul.text-page__list
                    li - фамилия, имя, отчество
                    li - адрес электронной почты
                    li - телефон
                    li - иные Персональные данные, которые Пользователь предоставляет ООПД в процессе коммуникации по своему собственному желанию.

            li 8.6. Персональные данные предоставляются Пользователем в процессе письменной, электронной и устной коммуникации с ООПД и включают в себя следующие сведения:
                ul.text-page__list
                    li - имя, фамилия, отчество
                    li - адрес электронной почты
                    li - телефон
                    li - иные Персональные данные, которые Пользователь предоставляет ООПД в процессе коммуникации по своему собственному желанию.
            li 8.7. Техническая информация, автоматически собираемая программным обеспечением Сайта во время его посещения Пользователем, включает:
                ul.text-page__list
                    li - IP-адрес;
                    li - информацию из cookies;
                    li - информацию о браузере;
                    li - информация о типе устройства (мобильное или пк);
                    li - время доступа.
                p К ней также относятся аналитические данные, полученные в результате использования Сайтом сервисов веб-аналитики. Данная информация используется исключительно в целях внутреннего и внешнего маркетинга – для анализа тенденций посещения Сайта и улучшения сервиса Сайта.
            li 8.8. На Сайте реализована технология идентификации Пользователей, основанная на использовании файлов cookies. На устройстве, используемом Пользователем для доступа на Сайт, могут быть записаны файлы cookies, которые в дальнейшем будут использованы для сбора статистических данных, в частности о посещаемости Сайта, а также для авторизации в личном кабинете Пользователя на Сайте. ООПД может использовать и раскрывать информацию об использовании Сайта, например, для определения степени использования Сайта, улучшения его контента, объяснения полезности Сайта и Услуг, а также для расширения функциональности Сайта. Принимая данную Политику конфиденциальности, Пользователь дает свое согласие ООПД, что технические данные, указанные в п. 8.7., собираемые с Сайта, передаются по сети Интернет.
            li 8.9. ООПД не сохраняет Персональные данные в файлах cookies. ООПД использует информацию, записанную в файлах cookies, которая не идентифицирует индивидуальных Пользователей, для анализа тенденций, администрирования Сайта, определения движений Пользователей по Сайту и для сбора демографической информации о базовом контингенте Пользователей в целом.
            li 8.10. Если Пользователь не хочет, чтобы ООПД собирал техническую информацию о нем с использованием файлов cookies, то Пользователь обязан прекратить пользоваться Сайтом или запретить сохранение файлов cookies на своем устройстве, используемом для доступа к Сайту, соответствующим образом настроив свой браузер. При этом следует иметь в виду, что Сервисы сайта, использующие данную технологию, могут оказаться недоступными.
            li 8.11. Пользователь подтверждает свое согласие на обработку Персональных данных при заполнении формы Регистрации, при заполнении формы Входа путем проставления галочки в чекбоксе, расположенной после соответствующей формы и нажатия на кнопку под этой формой на Сайте. Также проставляя галочку в чек-боксе и нажимая на кнопку под любой формой на Сайте или направляя письмо/сообщение/обращение по адресу электронной почты ООПД <a href='mailto:#{CONSTANTS.email}' class="link link_theme_underline link_theme_color link_theme_inherit">#{CONSTANTS.email}</a>, Пользователь выражает свое полное и безоговорочное согласие на то, что ему будут поступать от ООПД и его сотрудников сообщения, письма на указанную им электронную почту, сообщения в социальных сетях, звонки на указанный им телефон, сообщения и/или звонки в мессенджеры, привязанные к номеру телефона, который Пользователь передал ООПД, если Пользователь самостоятельно не выразит свой отказ от получения таких писем и сообщений, звонков.
            li 8.12. Согласие на обработку персональных данных, предоставляемых при направлении претензии, заявлений в адрес ООПД, осуществляется путем заполнения предоставленной ООПД формы. Пользователь обязан направить заполненную и подписанную форму согласия по электронной почте вместе с текстом претензии.
            li 8.13. В остальных случаях, не указанных выше, Пользователь подтверждает свое согласие на обработку Персональных данных вступая в любой процесс коммуникации с ООПД.
            li 8.14. ООПД гарантирует, что никогда не предоставляет Персональные данные третьим лицам, за исключением случаев, когда:
                ul.text-page__list
                    li - этого прямо требует законодательство (например, по письменному запросу суда, правоохранительных органов);
                    li - Пользователь дал согласие на передачу Персональных данных;
                    li - передача необходима для оказания Услуг, заключения договоров;
                    li - передача происходит в рамках продажи или иной передачи бизнеса;
                    li - передача происходит в рамках переноса базы Персональных данных с одного сервиса на другой согласно договорным отношениям ООПД;
                    li - это требуется для оказания поддержки обслуживания Пользователей или для помощи в защите и безопасности систем ООПД.

        h2.text-page__subtitle 9. Цели сбора и обработки персональных данных Пользователя
        ol.text-page__list.text-page__list_number
            li 9.1. Обработка персональных данных должна ограничиваться достижением конкретных, заранее определенных и законных целей. Не допускается обработка персональных данных, несовместимая с целями сбора персональных данных.ООПД использует Персональные данные пользователей в следующих целях:

        ul.text-page__list
            li - для обратной связи с Пользователем, в том числе в целях дальнейшего заключения договора
            li - для оказания Услуг Пользователю
            li - для направления Пользователю информации в рамках продажи и оказания Услуг
            li - для рассылки Пользователю с его согласия информации о новостях Сайта, о новых Услугах ООПД или партнеров ООПД, в том числе рекламного характера
            li - для соблюдения действующего законодательства Российской Федерации
            li - для маркетинговых исследований
            li - для таргетинга
            li - для направления Пользователю ответа по претензии или заявлению.


        h2.text-page__subtitle 10. Порядок и условия обработки персональных данных
        ol.text-page__list.text-page__list_number
            li 10.1. ООПД осуществляет следующий перечень действий с Персональными данными: сбор, запись, накопление, хранение, уточнение (обновление, изменение), извлечение, использование, передачу (распространение, предоставление, доступ), обезличивание, блокирование, удаление, уничтожение персональных данных, а также передача третьим лицам в случае необходимости взаимодействия с третьими лицами в рамках достижения целей обработки персональных данных (указанных в п. 4.1).
            li 10.2. ООПД осуществляет обработку Персональных данных следующими способами:
                ul
                    li - с использованием автоматизированных средств обработки персональных данных (программное обеспечение Сайта, ЮКасса, Яндекс Метрика, внутренняя система обработки персональных данных).
                    li - без использования автоматизированных средств обработки персональных данных (персональные данные обрабатываются вручную ООПД) Адрес хранения персональных данных - фактическое место нахождения ООПД.
            li 10.3. Для достижения целей, указанных в п. 9.1 данной Политики конфиденциальности, ООПД заключает договор с сервисом ЮКасса, согласно которому ООПД в том числе поручает этому сервису самостоятельные сбор, запись, накопление, хранение, уточнение (обновление, изменение), извлечение, использование, передачу (распространение, предоставление, доступ), обезличивание, блокирование, удаление, уничтожение Персональных данных, а также передачу третьим лицам в случае необходимости. Персональные данные Пользователя обрабатываются в соответствии с документом, определяющим правила сбора и обработки Персональных данных и конфиденциальной информации сервиса рассылки, используемом ООПД, сроком до достижения цели обработки Персональных данных в каждом конкретном случае либо направления Пользователем отзыва согласия. Адрес хранения персональных данных - фактическое место нахождения серверов ЮКасса.
            li 10.4. Передача персональных данных Пользователя третьим лицам осуществляется с согласия Пользователя исключительно в целях, указанных для выполнения договорных обязательств ООПД Пользователю.
            li 10.5. Персональные данные Пользователя могут быть переданы уполномоченным органам государственной власти Российской Федерации, органам дознания и следствия, иным уполномоченным органам только на основании и в порядке, установленном действующим законодательством Российской Федерации.

        h2.text-page__subtitle 11. Меры для защиты персональных данных
        ol.text-page__list.text-page__list_number
            li 11.1. ООПД осуществляет защиту Персональных данных Пользователя, применяя общепринятые методы безопасности для обеспечения защиты информации от потери, неправомерного или случайного доступа, искажения и несанкционированного распространения, уничтожения, изменения, блокирования, копирования, а также любых других неправомерных действий с персональными данными третьих лиц. Безопасность реализуется программными средствами сетевой защиты, процедурами проверки доступа, применением криптографических средств защиты информации, соблюдением политики конфиденциальности, а также других внутренних документов, регламентирующих правила обработки Персональных данных ООПД.
            li 11.2. Если Персональные данные были утрачены либо разглашены, ООПД обязан проинформировать об этом Пользователя.
            li 11.3. ООПД совместно с Пользователем принимает все необходимые меры по предотвращению убытков или иных отрицательных последствий, вызванных утратой или разглашением персональных данных Пользователя.
            li 11.4. Персональные данные сохраняются ООПД в конфиденциальности за исключением случаев, когда Пользователь добровольно разместил информацию для общего доступа в сообщениях, комментариях, отзывах на Сайте.
            li 11.5. Обеспечение безопасности Персональных данных, обрабатываемых в информационных системах персональных данных ООПД, достигается путем исключения несанкционированного, в том числе случайного, доступа к Персональным данным, а также принятия следующих мер по обеспечению безопасности:
            li 11.5.1. определение угроз безопасности Персональных данных при их обработке в информационных системах персональных данных ООПД;
            li 11.5.2. применение организационных и технических мер по обеспечению безопасности Персональных данных при их обработке в информационных системах персональных данных ООПД, необходимых для выполнения требований к защите Персональных данных, исполнение которых обеспечивает установленные Правительством Российской Федерации уровни защищенности Персональных данных;
            li 11.5.3. применение прошедших в установленном порядке процедур оценки соответствия средств защиты информации;
            li 11.5.4. оценка эффективности принимаемых мер по обеспечению безопасности Персональных данных до ввода в эксплуатацию информационной системы персональных данных;
            li 11.5.5. учет машинных носителей Персональных данных;
            li 11.5.6. обнаружение фактов несанкционированного доступа к Персональным данным и принятие мер;
            li 11.5.7. восстановление Персональных данных, модифицированных или удаленных, уничтоженных вследствие несанкционированного доступа к ним;
            li 11.5.8. установление правил доступа к Персональным данным, обрабатываемым в информационных системах персональных данных ООПД, а также обеспечением регистрации и учета всех действий, совершаемых с Персональными данными в информационных системах персональных данных ООПД;
            li 11.5.9. контроль за принимаемыми мерами по обеспечению безопасности Персональных данных и уровней защищенности информационных систем персональных данных.

        h2.text-page__subtitle 12. Сроки обработки персональных данных
        ol.text-page__list.text-page__list_number
            li 12.1. Обработка Персональных данных, предоставляемых Пользователем на Сайте, осуществляется в срок с момента направления заполненной формы на Сайте и в течение 20 лет или до момента отзыва согласия, направленного Пользователем в адрес ООПД.
            li 12.2. Если иное не предусмотрено другими пунктами настоящей Политики конфиденциальности то обработка Персональных данных осуществляется до получения ООПД от Пользователя запроса на уничтожение его Персональных данных или до достижения цели обработки Персональных данных.
            li 12.3. Условием прекращения обработки Персональных данных может также являться истечение срока действия согласия или отзыв согласия Пользователя на обработку его Персональных данных, а также выявление неправомерной обработки Персональных данных.
            li 12.4. Пользователь самостоятельно определяет срок подписки на рассылку и отписывается от рассылки путем нажатия на специальную ссылку для отписки, которая есть в каждом полученном письме, или направления запроса в свободной форме на адрес электронной почты ООПД.

        h2.text-page__subtitle 13. Правовые основания обработки персональных данных
        ol.text-page__list.text-page__list_number
            li 13.1 ООПД обрабатывает Персональные данные на основании следующих правовых оснований:
                ul.text-page__list
                    li - Конституция РФ,
                    li - Гражданский кодекс РФ,
                    li - Закон от 07.02.1992 N 2300-1 (ред. от 03.07.2016) «О защите прав потребителей»,
                    li - Федеральный закон от 02.05.2006 №59-ФЗ «О порядке рассмотрения обращений граждан Российской Федерации»,
                    li - Федеральный закон от 27.07.2006 № 149-ФЗ «Об информации, информационных технологиях и о защите информации»,
                    li - Федеральный закон от 06.04.2011 № 63-ФЗ «Об электронной подписи»,
                    li - Федеральный закон от 27.07.2006 N 152-ФЗ "О персональных данных",
                    li - Постановление Правительства РФ от 01.11.2012 № 1119 «Об утверждении требований к защите персональных данных при их обработке в информационных системах персональных данных»,
                    li - Постановление Правительства РФ от 15.09.2008 № 687 «Об утверждении Положения об особенностях обработки персональных данных, осуществляемой без использования средств автоматизации»,
                    li - договоры, заключаемые между ООПД и Пользователем;
                    li - договоры, заключаемые между ООПД и третьими лицами, с целью оказания Пользователям Услуг, осуществления бизнес-процессов ООПД;
                    li - согласие на обработку персональных данных (в случаях, прямо не предусмотренных законодательством Российской Федерации, но соответствующих полномочиям ООПД).

        h2.text-page__subtitle 14. Актуализация, исправление, удаление и уничтожение персональных данных, ответы на запросы пользователей на доступ к персональным данным
        ol.text-page__list.text-page__list_number
            li 14.1. В случае подтверждения факта неточности Персональных данных или неправомерности их обработки, Персональные данные подлежат их актуализации ООПД, а обработка должна быть соответственно прекращена.
            li 14.2. Персональные данные Пользователя, предоставленные им на Сайте, которые хранятся у ООПД и обрабатываются им, могут быть удалены/обезличены путем обращения Пользователя к ООПД, для этого необходимо направить письмо, написанное в свободной форме, ООПД на адрес <a href='mailto:#{CONSTANTS.email}' class="link link_theme_underline link_theme_color link_theme_inherit">#{CONSTANTS.email}</a>. При этом Пользователь не сможет пользоваться Сайтом. Срок рассмотрения запроса Пользователя составляет 10 рабочих дней.
            li 14.3. При достижении целей обработки Персональных данных, а также в случае отзыва Пользователем согласия на их обработку Персональные данные подлежат уничтожению в течение 10 рабочих дней с момента достижения цели обработки или получения отзыва, если:
                ul.text-page__list
                    li - иное не предусмотрено договором, стороной которого, выгодоприобретателем или поручителем по которому является Пользователь;
                    li - ООПД не вправе осуществлять обработку без согласия Пользователя на основаниях, предусмотренных Федеральным законом "О персональных данных" или иными федеральными законами;
                    li - иное не предусмотрено иным соглашением между ООПД и Пользователем.

            li 14.4. ООПД осуществляет блокирование Персональных данных о Пользователе с момента обращения или запроса Пользователя или его законного представителя либо уполномоченного органа по защите прав субъектов персональных данных на период проверки, в случае выявления недостоверных персональных данных или неправомерных действий.
            li 14.5. ООПД осуществляет актуализацию, исправление, уточнение, удаление и уничтожение Персональных данных Пользователя, в течение 7 рабочих дней с момента обращения или запроса Пользователя или его законного представителя либо уполномоченного органа по защите прав субъектов персональных данных, в случае выявления недостоверных персональных данных или неправомерных действий.
            li 14.6. ООПД отвечает на запросы Пользователей на доступ к Персональным данным в течение 30 дней с момента обращения или запроса Пользователя.
            li 14.7. В случае если Пользователь более не хочет получать письма и уведомления, сообщений на указанный им адрес электронной почты, то Пользователь в любое время может отказаться от получения писем, сообщений, уведомлений, направив обращение в свободной форме на электронный адрес ООПД <a href='mailto:#{CONSTANTS.email}' class="link link_theme_underline link_theme_color link_theme_inherit">#{CONSTANTS.email}</a>.

        h2.text-page__subtitle 15. Заключительные положения
        ol.text-page__list.text-page__list_number
            li 15.1. ООПД имеет право внести любые изменения и дополнения в Политику конфиденциальности в любой момент по своему усмотрению.
            li 15.2. Изменения и дополнения вступают в силу с момента размещения на Сайте Политики конфиденциальности с изменениями и дополнениями. Продолжая пользоваться Сайтом после опубликования новой редакции Политики конфиденциальности, Пользователь тем самым подтверждает, что принимает ее.

        p.text-page__footer #{CONSTANTS.fio}
        p.text-page__footer ИНН #{CONSTANTS.inn}
        p.text-page__footer #{CONSTANTS.year} г.
