extends ../../layout/index

block vars
    - var title='Согласие на обработку персональных данных'

block content
    - var CONSTANTS = require("../../constants/index.json");

    section.text-page(aria-labelledby="agreements-title")
        h1.text-page__title#agreements-title Согласие на обработку персональных данных

        p.text-page__paragraph
            | В соответствии с Федеральным законом от 27.07.2006 N 152-ФЗ «О персональных данных» настоящим даю владельцам сайта <a href="#{CONSTANTS.domain}" class="link link_theme_underline link_theme_color link_theme_inherit">#{CONSTANTS.domain}</a> свое согласие на автоматизированную, а также без использования средств автоматизации обработку путем сбора, систематизации, накопления, хранения, уточнения и удаления, а также путем передачи (предоставления) третьим лицам, привлеченным владельцами сайта <a href="#{CONSTANTS.domain}" class="link link_theme_underline link_theme_color link_theme_inherit">#{CONSTANTS.domain}</a> в целях оказания мне услуг, моих персональных данных, оставленных мной по собственному желанию на сайте с доменным именем <a href="#{CONSTANTS.domain}" class="link link_theme_underline link_theme_color link_theme_inherit">#{CONSTANTS.domain}</a>, включая поддомены:

        ul.text-page__list
            li - имя
            li - адрес электронной почты
            li - персональные данные, которые я указываю в тексте отзыва по своему собственному желанию
            li - любые персональные данные, которые я указываю добровольно в процессе использования сайта с доменным именем <a href="#{CONSTANTS.domain}" class="link link_theme_underline link_theme_color link_theme_inherit">#{CONSTANTS.domain}</a>
            li - персональные данные, которые я указываю в любой форме на сайте с доменным именем <a href="#{CONSTANTS.domain}" class="link link_theme_underline link_theme_color link_theme_inherit">#{CONSTANTS.domain}</a> по своему собственному желанию
            li - персональные данные, которые я указываю в тексте претензии или заявления по своему собственному желанию
            li - техническая информация, которая собирается программным обеспечением сайта с доменным именем <a href="#{CONSTANTS.domain}" class="link link_theme_underline link_theme_color link_theme_inherit">#{CONSTANTS.domain}</a> во время его посещения
            li - персональные данные, которые я предоставляю владельцам сайта <a href="#{CONSTANTS.domain}" class="link link_theme_underline link_theme_color link_theme_inherit">#{CONSTANTS.domain}</a> в процессе любой коммуникации по своему собственному желанию.

        p.text-page__paragraph
            | Настоящим даю согласие на автоматизированную, а также без использования средств автоматизации обработку путем сбора, систематизации, накопления, хранения, уточнения и удаления, а также путем передачи (предоставления) третьим лицам, привлеченным владельцами сайта <a href="#{CONSTANTS.domain}" class="link link_theme_underline link_theme_color link_theme_color link_theme_inherit">#{CONSTANTS.domain}</a> в целях оказания мне услуг, моих персональных данных для достижения следующих целей:

        ul.text-page__list
            li - для обратной связи со мной, в том числе в целях дальнейшего использования сайта с доменным именем <a href="#{CONSTANTS.domain}" class="link link_theme_underline link_theme_color link_theme_inherit">#{CONSTANTS.domain}</a>
            li - для направления мне информации в рамках оказания мне услуг
            li - для рассылки мне с моего согласия информации о новостях сайта с доменным именем <a href="#{CONSTANTS.domain}" class="link link_theme_underline link_theme_color link_theme_inherit">#{CONSTANTS.domain}</a>, о новых услугах, в том числе рекламного характера
            li - для соблюдения действующего законодательства Российской Федерации
            li - для маркетинговых исследований
            li - для таргетинга
            li - для направления мне ответа по претензии или заявлению.

        p.text-page__paragraph Данное согласие действует до направления мной в адрес владельцев сайта <a href="#{CONSTANTS.domain}" class="link link_theme_underline link_theme_color link_theme_inherit">#{CONSTANTS.domain}</a> отзыва данного согласия в свободной письменной форме на адрес электронной почты <a href='mailto:#{CONSTANTS.email}' class="link link_theme_underline link_theme_color link_theme_color link_theme_inherit">#{CONSTANTS.email}</a>

        p.text-page__footer ИП #{CONSTANTS.fio}
        p.text-page__footer ИНН #{CONSTANTS.inn}
        p.text-page__footer ОГРНИП #{CONSTANTS.ogrnip}
        p.text-page__footer #{CONSTANTS.year} г.
